.title-and-tags {
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: space-between; /* Horizontal spacing */
}

.tags {
    display: flex;
    gap: 10px; /* Space between tags */
}

.tag {
    background-color: #f0f0f0; /* Example tag background */
    padding: 5px;
    border-radius: 5px;
}

#markdown-toc {
    list-style-type:none;
}